<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XLM Translate System</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>XLM机器翻译系统</h1>
    <hr/>

    <!-- Select Area -->
    <div class="row align-self-center">
        <div class="col-2">
            <select id="src-select" class="form-control">
                <option value="zh">中文</option>
                <option value="en">英文</option>
            </select>
        </div>
        <div class="col-1 align-self-center">
            <center>
                <svg class="bi bi-arrow-left-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.146 7.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 11l-2.647-2.646a.5.5 0 010-.708z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd"
                          d="M2 11a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 11zm3.854-9.354a.5.5 0 010 .708L3.207 5l2.647 2.646a.5.5 0 11-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z"
                          clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M2.5 5a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
                          clip-rule="evenodd"/>
                </svg>
            </center>
        </div>
        <div class="col-2">
            <select id="tgt-select" class="form-control">
                <option value="en">英文</option>
                <option value="zh">中文</option>
            </select>
        </div>
        <div class="align-items-left">
            <button type="button" class="btn btn-primary" onclick="click_for_translate()">翻译</button>
        </div>
    </div>

    <!-- Input/Output Area -->
    <div class="row">
        <div class="col-6">
            <!-- <div class="form-group"> -->
            <label for="input-area">输入</label>
            <textarea class="form-control" id="input-area" rows="5" style="resize:none"></textarea>
            <!-- </div> -->
        </div>
        <div class="col-6">
            <!-- <div class="form-group"> -->
            <label for="output-area">输出</label>
            <textarea class="form-control" id="output-area" rows="5" disabled="disabled" style="resize:none"></textarea>
            <!-- </div> -->
        </div>
    </div>

    <div class="modal" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    function click_for_translate() {
        var lang1 = $("#src-select").find("option:selected").attr("value");
        var lang2 = $("#tgt-select").find("option:selected").attr("value");
        var text = $("#input-area").val();

        $.ajax({
            type: "post",
            dataType: "json",
            data: {"text":text, "lang1":lang1, "lang2":lang2},
            url: "/translate",
            success: function(data) {
                $("#output-area").text(data["result"]);
            },
            error: function(data) {

                $("#error-modal").modal("toggle");
            }
        });

    }

</script>
</body>
</html>